<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemHeader</key>
			<string>图片</string>
			<key>itemKey</key>
			<string>lastUpdate</string>
			<key>itemName</key>
			<string>最新</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>图片</string>
			<key>itemKey</key>
			<string>hotShare</string>
			<key>itemName</key>
			<string>最热分享</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>图片</string>
			<key>itemKey</key>
			<string>hotComment</string>
			<key>itemName</key>
			<string>最热评论</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>图片</string>
			<key>itemKey</key>
			<string>favourite</string>
			<key>itemName</key>
			<string>最新收藏</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>图片</string>
			<key>itemKey</key>
			<string>gif</string>
			<key>itemName</key>
			<string>Gif图</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemHeader</key>
			<string>关于</string>
			<key>itemKey</key>
			<string>about</string>
			<key>itemName</key>
			<string>关于我们</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>关于</string>
			<key>itemKey</key>
			<string>help</string>
			<key>itemName</key>
			<string>帮助指南</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>关于</string>
			<key>itemKey</key>
			<string>feedback</string>
			<key>itemName</key>
			<string>问题反馈</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemHeader</key>
			<string>下载图片</string>
			<key>itemKey</key>
			<string>onlyWifi</string>
			<key>itemName</key>
			<string>只在Wifi情况</string>
		</dict>
		<dict>
			<key>itemHeader</key>
			<string>下载图片</string>
			<key>itemKey</key>
			<string>wifiAnd3G</string>
			<key>itemName</key>
			<string>Wifi或者3G情况</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemHeader</key>
			<string>清空缓存</string>
			<key>itemKey</key>
			<string>clearImageCache</string>
			<key>itemName</key>
			<string>清空图片缓存</string>
		</dict>
	</array>
</array>
</plist>
